<meta property="og:type" content="website" /> 
<meta property="og:url" content="{{meta.canonical}}" /> 
<meta property="og:title" content="{{meta.ogTitle}}" /> 
<meta property="og:description" content="{{meta.ogDescription}}" /> 
<meta property="og:image" content="{{meta.canonical}}/images/og-image.jpg" /> 
